DELETE_DB
SEED_PASSWORD
SEED_PROFILE_COUNT
SECRET_KEY
DJANGO_ALLOWED_HOSTS
FRONTEND_URL
PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD

POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

SQL_ENGINE
SQL_DATABASE
SQL_USER
SQL_PASSWORD
SQL_HOST
SQL_PORT

SMTP_HOST
SMTP_PORT
SMTP_USERNAME
SMTP_PASSWORD
SMTP_FROM
PUBLIC_BACKEND_URL

DEFAULT_FROM_EMAIL
