@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #9aa0a6;
  cursor: wa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* cursor: 
    url("pointer.png") 5 5,
    auto; */
}

body {

    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  /* background: 
    url('html_background.png');
  background-size: 100% 100%, 10% 10%, 100% 100%;
  min-height: 50rem; */
}